.navbar{
    background-color: rgb(22, 11, 24);
    border: 1px solid hsl(41, 79%, 41%);
}
.title{
    color: white;
    font-size:45px;
    font-weight: 900;
    font-family: monospace;
    font-style: oblique;
}
.title:hover{
    color: darkgoldenrod;
}
.headings{
    color: rgb(12, 241, 146);
    font-size: larger;
    font-weight: 400;
    font-family: monospace;
    text-decoration: none;
    padding: 5px;
}
.headings:hover{
    color: white;
}