.navbar{
   
    background-color: rgb(38, 23, 41);
    border: 1px solid hsl(41, 79%, 41%);
    /* display: flex; */
}
.title{
    /* margin-right: 520px; */
    color: white;
    font-size:45px;
    font-weight: 900;
    font-family: monospace;
    font-style: oblique;
    
}
.title:hover{
    color: darkgoldenrod;
}
.headings{
    color: rgb(12, 241, 146);
    font-size: larger;
    font-weight: 400;
    font-family: monospace;
    text-decoration: none;
    padding: 15px;
}
.headings:hover{
    color: white;
}
.film-icon{
    color: darkgoldenrod;
    width: 50px;
    height: 50px;
    
}
.movie-icon{
    color: white;
    width: 20px;background-color: rgb(38, 23, 41);
}
.link-div{
    /* margin-left: 530px; */
    margin-left: auto;
}
.toggle-bar{
    color: white;
    width: 50px;
    height: 50px;
    display: none;
    margin-left: auto;
    
}

@media( max-width: 767px) {
    .toggle-bar{
        color: white;
        display: block;
        margin-bottom: auto;
    }
    .link-div{
        display: none;

    }
    .link-div.is-active{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        font-size: xx-large;
        
    }
    .movie-icon{
        margin: auto;
        width: 15px;
    }
    .logo{
        margin-bottom: auto;
        display: block;
        
        
    }
    .navbar{
      
        
        
    }
    .headings{
        font-size: 20px;

        
        
    }
    .title{
        
        font-size: 20px;
    }
   
  }



