
h2{
    color: brown;
    font-family: monospace;
    font-weight: 540;
}
.cards{
    margin-left: 25px;
    margin-bottom: 10px;
    background-color: rgb(23, 1, 27);
    color: white;
}
.card_image{
    margin-top: 10px;
}
.search{
    display: flex;
    margin-top: 2px;
    margin-left: 495px;
    margin-bottom: 2px;
    
}
.search-input{
    margin-right: 3px;
    border: 2px solid rgb(3, 168, 77);
    text-align: center;
    font-weight: 900;
    display: flex;
}
.detail-btn:hover{
    background-color:  rgb(7, 119, 72);
}