.App {
  text-align: center;
  background-image: url(https://media.istockphoto.com/id/1325863527/vector/video-play-sign-seamless-pattern-background-on-a-white-vector.jpg?s=612x612&w=0&k=20&c=upqlTyomk_7Eeapq_i0_gN04vMaAUZ0CfRP1CRmeOjw=);
  background-repeat: repeat;
  
 
}
